body {
  min-width: 1200px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  box-shadow: 10px 0 10px -10px #dedede,
              -10px 0 10px -10px #dedede;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  position: relative;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  right: 50%;

  width: 140px;
  height: 71px;
  margin-left: -70px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation li {
  box-sizing: border-box;

  width: 20%;
  padding-top: 15px;
  padding-left: 72px;
  padding-bottom: 15px;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(3) {
  padding-left: 78px;
}

.site-navigation li:nth-child(4) {
  padding-left: 89px;
}

.site-navigation a {
  display: block;

  color: #000000;
  vertical-align: middle;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

.site-navigation-current a {
  color: #766357;
}

.sedona-welcome {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 509px;

  background-color: #81b3d2;
  background-image: url("../img/background-photo.jpg");
  background-position: 0 -56px;
  background-repeat: no-repeat;
}

.sedona-welcome::before {
  content: "";

  position: absolute;

  align-self: flex-end;

  width: 1200px;
  height: 57px;

  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sedona-info {
  margin: 0 auto;

  text-align: center;

  background-color: #ffffff;
}

.sedona-info h2 {
  margin: 0;
  padding: 60px 312px 16px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sedona-info p {
  margin: 0;
  padding: 13px 312px 54px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.descriptions {
  text-align: center;
}

.descriptions ul {
  list-style: none;
}

.descriptions h3 {
  width: 155px;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.descriptions p {
  margin: 0;
  margin-top: 21px;
}

.description-item:first-child,
.description-item:nth-child(3) {
  color: #ffffff;

  background-color: #81b3d2;
}

.description-item:first-child h3,
.description-item:nth-child(3) h3 {
  color: #ffffff;
}

.description-item:last-child {
  background-color: #eeeeee;
}

.description-list {
  margin: 0;
  padding: 0;
}

.description-list > li:first-of-type {
  display: flex;
  flex-direction: row-reverse;
}

.description-list > li:nth-of-type(3) {
  display: flex;
  flex-direction: row;
}

.description-content {
  box-sizing: border-box;

  width: 400px;
  padding-top: 46px;
  padding-left: 48px;
  padding-bottom: 59px;
  padding-right: 48px;
}

li:first-child .description-image {
  width: 800px;

  background-image: url("../img/sityview.jpg");
  background-size: 800px 256px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

li:nth-child(3) .description-image {
  width: 800px;

  background-image: url("../img/bridge.jpg");
  background-size: 800px 256px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

.advantage-item {
  position: relative;

  box-sizing: border-box;

  width: 400px;
  padding-top: 162px;
  padding-left: 57px;
  padding-right: 57px;
  padding-bottom: 81px;
}

.advantage-item::before {
  content: "";

  position: absolute;
  top: 60px;
  left: 50%;
}

.advantage-item:first-child::before {
  width: 75px;
  height: 72px;
  margin-left: -38px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantage-item:nth-child(2)::before {
  width: 74px;
  height: 70px;
  margin-left: -37px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantage-item:last-child::before {
  width: 64px;
  height: 76px;
  margin-left: -32px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.other-descriptions {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.other-descriptions .description-content {
  padding-top: 49px;
  padding-left: 66px;
  padding-right: 66px;
  padding-bottom: 58px;
}

.search-hotel {
  position: relative;
}

.search-hotel-column {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff;
}

.search-hotel h2 {
  margin: 0;
  margin-top: 53px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.search-hotel-text {
  margin: 0 auto;
  margin-top: 23px;
  margin-bottom: 50px;

  text-align: center;
}

.button,
.social-btn {
  display: inline-block;

  margin: 0;
  padding: 0;

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button-search {
  min-width: 568px;
  padding: 30px;
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  background-color: #766357;
}

.button-search:hover {
  background-color: #604e43;
}

.button-search:active {
  color: #928a85;

  background-color: #503e33;
}

.map {
  height: 593px;

  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;

}

.search-hotel-form {
  display: block;
  
  position: absolute;
  top: 291px;
  left: 316px;

  box-sizing: border-box;

  width: 568px;
  margin: 0 auto;
  padding: 55px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
  box-shadow:
	5px 5px 8px -4px rgba(0, 0, 0, 0.2),
	-5px 5px 8px -4px rgba(0, 0, 0, 0.2);
}

.search-hotel-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.search-hotel-form input {
  box-sizing: border-box;

  width: 346px;
  margin: 0;
  padding: 0;
  padding-left: 14px;
  padding-top: 5px;
  padding-bottom: 7px;

  font: inherit;

  background-color: #f2f2f2;
  border: none;
}

/* .search-hotel-form input::-moz-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.search-hotel-form input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
} */

.search-hotel-form input:hover {
  background-color: #ebebeb;
}

.search-hotel-form input:focus {
  padding: 0;
  padding-left: 12px;
  padding-top: 3px;
  padding-bottom: 5px;

  background-color: #ffffff;

  border: 2px solid #e5e5e5;
  outline: none;
}

   /* KALENDAR */

.departure-date {
  position: relative;
}

.date-button path {
  fill: green;
}

.date-button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 316px;
  top: 10px;

  margin: 0;
  padding: 0;
  border: none;
  background-color: #f2f2f2;
}

.number-column {
  display: flex;
  justify-content: space-between;

  margin-bottom: 25px;
}

.number-column label {
  margin-right: 37px;
}

.adult input,
.children input {
  box-sizing: border-box;

  width: 38px;
  margin: 0;
  margin-left: 38px;
  margin-right: 38px;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 7px;

  text-align: center;
}

.adult,
.children {
  position: relative;
}

.number-button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
  border: none;
}

.minus {
  position: absolute;

  width: 38px;
  height: 38px;
}

.plus {
  position: absolute;
  top: 0;
  left: 76px;

  width: 38px;
  height: 38px;
}

.minus::before {
	content: "";

	position: absolute;
  top: 17px;
	left: 14px;

	width: 11px;
	height: 3px;

	background-color: #a9a9a9;
}

.plus::before {
	content: "";

	position: absolute;
  top: 17px;
	left: 14px;

	width: 11px;
	height: 3px;

	background-color: #a9a9a9;
}

.plus::after {
	content: "";

	position: absolute;
  top: 17px;
	left: 14px;
	transform: rotate(90deg);

	width: 11px;
	height: 3px;

	background-color: #a9a9a9;
}

.minus:hover::before,
.minus:focus::before {
	background-color: #000000;
}

.minus:active::before {
	background-color: #81b3d2;
}

.plus:hover::before,
.plus:focus::before {
	background-color: #000000;
}

.plus:active::before {
	background-color: #81b3d2;
}

.plus:hover::after,
.plus:focus::after {
	background-color: #000000;
}

.plus:active::after {
	background-color: #81b3d2;
}

.search-form {
  width: 100%;
  margin: 0;
  padding: 16px;

  font-size: 21px;
}

.search-form:hover {
  background-color: #669ec0;
}

.search-form:active {
  color: #88b6d1;

  background-color: #5496bd;
}

.hotels-filter {
  padding: 29px 73px 33px;

  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.hotels-filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotels-filter-form {
  display: flex;
  justify-content: flex-start;

  color: #ffffff;
}

.hotels-filter-column:nth-of-type(2) {
  margin-left: 121px;
}

.hotels-filter-form fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-title {
  padding-bottom: 21px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter-option {
  padding-left: 40px;
  padding-bottom: 25px;
}

.filter-option:last-child {
  padding-bottom: 0;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 0;
  left: -42px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-off-dis.svg");
}

.filter-input-checkbox:disabled + label::after {
  background-image: url("../img/checkbox-on-dis.svg");
}

.filter-range {
  width: 317px;
  margin-left: 346px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 62px;
  padding-top: 4px;

}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  transform: scale(1.1);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;

  margin: 0 auto;
  padding: 5px 35px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.sort-button {
  font-weight: 400;
  color: #ffffff;

  background: transparent;
  border: 2px solid #ffffff;
}

.sort-button:hover {
  color: #000000;

  background-color: #ffffff;
}

.sort-columns {
  display: flex;
  align-items: center;

  padding: 30px 72px;
}

.hotels-sort-title {
  margin: 0;
  margin-right: 53px;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels-sort-name {
  margin: 0;

  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.hotels-sort-by {
  display: flex;

  width: 100%;
}

.hotels-sort-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-left: 40px;
  padding: 0;

  list-style: none;
}

.hotels-sort-list a {
  margin: 0;
  margin-right: 32px;

  font-size: 12px;
  line-height: 18px;
  color: #cacaca;

  border-bottom: 1px dotted #81b3d2;
}

.hotels-sort-list a:hover {
  color: #81b3d2;
}

.hotels-sort-list a:active {
  color: #000000;

  border-bottom: none;
}

.hotels-sort-current a {
  color: #81b3d2;

  border-bottom: none;
}

.hotels-range-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.hotels-range-item:hover path{
  fill: #231f20;
}

.hotels-range-current path,
.hotels-range-item:active path {
  fill: #81b3d2;
}

.hotels-range-up {
  margin-right: 12px;
}

.hotels-list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}

.hotel-item {
  display: flex;

  padding: 28px 72px;

  border-top: 1px solid #e5e5e5;
}

.hotel-item p {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.hotel-item h3 {
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotel-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-image {
  margin-right: 30px;

  align-self: center;
}

.hotel-profile {
  display: flex;
  flex-wrap: wrap;

  width: 260px;
}

.hotel-rating {
  margin-left: 520px;
}

.hotel-title a {
  margin: 0;

  color: #000000;
}

.hotel-title a:hover {
  color: #81b3d2;
}

.hotel-title a:active {
  color: #cacaca;
}

.booking-button {
  box-sizing: border-box;

  width: 143px;
  margin: 0;
  padding: 0;
  padding: 3px 16px;

  background-color: #766357;
}

.booking-button:hover {
  background-color: #604e43;
}

.booking-button:active {
  color: #8f8681;

  background-color: #503e33;
}

.info-button {
  box-sizing: border-box;

  width: 110px;
  margin: 0;
  margin-right: 7px;
  padding: 0;
  padding: 3px 17px;
}

.info-button:hover {
  background-color: #669ec0;
}

.info-button:active {
  color: #88b6d1;

  background-color: #5496bd;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.star-rating {
  display: flex;
  justify-content: flex-end;

  margin: 0;
  padding: 0;

  list-style: none;
}

.star {
  margin-left: 6px;
}

.hotel-rating p {
  margin: 0;
  padding: 0;
  padding: 2px 13px 4px 15px;

  color: #666666;

  background-color: #f2f2f2;

}

.main-footer {
  position: relative;

  display: flex;

  padding: 36px 0;
}

.index-footer {
  margin-top: -120px;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-column {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;
}

.main-footer-logo {
  width: 140px;
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 151px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 45px;
  height: 48px;

  background-color: #81b3d2;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn:active path {
  fill: #88b6d1;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;

  color: #000000;
  text-align: center;
}

.academy {
  width: 115px;
  height: 41px;
  margin: 0;
  margin-left: 10px;
  padding: 0;

  background-color: #ffffff;
}

.academy:hover path {
  fill: #81b3d2;
}

.academy:active path {
  fill: #bdbbbc;
}
