body {
  min-width: 1200px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  box-shadow: 10px 0 10px -10px #dedede,
              -10px 0 10px -10px #dedede;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  position: relative;
  background-color: #ffffff;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  right: 50%;

  width: 140px;
  height: 71px;
  margin-left: -70px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0 73px;
  list-style: none;
}

.site-navigation li {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  padding: 15px 0;

}

.site-navigation li:nth-child(3),
.site-navigation li:last-child {
  display: flex;
  justify-content: flex-end;
}

.site-navigation a {
  color: #000000;
  vertical-align: middle;

  display: block;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

.site-navigation-current a {
  color: #766357;
}

.sedona-welcome {
  background-color: #81b3d2;
  background-image: url("../img/background-photo.jpg");
  background-position: 0 -56px;
  background-repeat: no-repeat;
}

.sedona-welcome::before {
  content: "";

  position: absolute;
  top: 514px;
  width: 1200px;
  height: 59px;

  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sedona-welcome img {
  position: relative;
  top: 77px;
  left: 370px;

  padding-bottom: 148px;
}

.sedona-info {
  margin: 0 auto;

  text-align: center;

  background-color: #ffffff;
}

.sedona-info h2 {
  margin: 0;
  padding: 60px 312px 16px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sedona-info p {
  margin: 0;
  padding: 16px 312px 58px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.descriptions {
  text-align: center;
}

.descriptions ul {
  list-style: none;
}

.descriptions h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;

  width: 155px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
}

.descriptions p {
  margin: 0;
  margin-top: 25px;
}

.description-item:first-child,
.description-item:nth-child(3) {
  color: #ffffff;
  background-color: #81b3d2;
}

.description-item:first-child h3,
.description-item:nth-child(3) h3 {
  color: #ffffff;
}

.description-item:last-child {
  background-color: #eeeeee;
}

.description-list {
  margin: 0;
  padding: 0;
}

.description-list > li:first-of-type {
  display: flex;
  flex-direction: row-reverse;
}

.description-list > li:nth-of-type(3) {
  display: flex;
  flex-direction: row;
}

.description-content {
  box-sizing: border-box;
  width: 400px;
  padding-top: 46px;
  padding-left: 48px;
  padding-bottom: 55px;
  padding-right: 48px;
}

li:first-child .description-image {
  width: 800px;

  background-image: url("../img/sityview.jpg");
  background-size: 800px 256px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

li:nth-child(3) .description-image {
  width: 800px;

  background-image: url("../img/bridge.jpg");
  background-size: 800px 256px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

.advantage-item {
  position: relative;
  box-sizing: border-box;
  width: 400px;
  padding-top: 158px;
  padding-left: 57px;
  padding-right: 57px;
  padding-bottom: 82px;
}

.advantage-item::before {
  content: "";

  position: absolute;
  top: 60px;
  left: 50%;
}

.advantage-item:first-child::before {
  width: 75px;
  height: 72px;
  margin-left: -38px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantage-item:nth-child(2)::before {
  width: 64px;
  height: 76px;
  margin-left: -32px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantage-item:last-child::before {
  width: 74px;
  height: 70px;
  margin-left: -37px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.other-descriptions {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.other-descriptions .description-content {
  padding-top: 50px;
  padding-left: 66px;
  padding-right: 66px;
  padding-bottom: 60px;
}

.search-hotel-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.search-hotel h2 {
  margin: 0;
  margin-top: 55px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.search-hotel-text {
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 50px;

  text-align: center;
}

.button,
.social-btn {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.button-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  background-color: #766357;

  min-width: 568px;
  padding: 30px;
  margin: 0;
}

.button-search:hover {
  background-color: #604e43;
}

.button-search:active {
  color: #928a85;

  background-color: #503e33;
}

.map {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 1200px;
  height: 593px;
}

.search-hotel-form {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  box-sizing: border-box;

  width: 568px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 55px;

  border: 1px solid black;
}

.search-hotel-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

}

.search-hotel-form input {
  font: inherit;

  background-color: #f2f2f2;
  border: none;

  box-sizing: border-box;
  width: 346px;
  margin: 0;
  padding: 0;
  padding: 10px 14px 11px;
}

.search-hotel-form input:hover {
  background-color: #ebebeb;
}

.search-hotel-form input:focus {
  background-color: #ffffff;

  border: 2px solid #e5e5e5;
}

.search-hotel-form label {
  display: block;
  width: 112px;
}

.departure-date {
  position: relative;
}

.date-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 316px;
  top: 10px;

  width: 21px;
  height: 22px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #f2f2f2;
}

.adult input,
.children input {
  box-sizing: border-box;
  width: 117px;
  margin: 0;
  padding: 0;
  padding: 8px 42px;
}

.adult,
.children {
  position: relative;
}

.number-button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  border: none;
  background-color: #f2f2f2;
}

.minus {
  position: absolute;
  left: 14px;
  top: 18px;

  width: 12px;
  height: 3px;
}

.plus {
  position: absolute;
  left: 91px;
  top: 14px;

  width: 11px;
  height: 11px;
}


.search-form {
  width: 100%;
  margin: 0;
  padding: 16px;
  font-size: 21px;
}

.search-form:hover {
  background-color: #669ec0;
}

.search-form:active {
  color: #88b6d1;
  background-color: #5496bd;
}


/*
.search-hotel-form .date-button,
.search-hotel-form .number-button {
  fill: #a9a9a9;

  background-color: #f2f2f2;
  border: none;
}

.search-hotel-form .date-button:hover,
.search-hotel-form .number-button:hover {
  fill: #000000;
}

.search-hotel-form .date-button:active,
.search-hotel-form .number-button:active {
  fill: #81b3d2;
} */

.hotels-filter {
  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;

  padding: 30px 73px;
}

.hotels-filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels-filter-form {
  color: #ffffff;

  display: flex;
  justify-content: flex-start;
}

.hotels-filter-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;

  padding-bottom: 30px;
}

.filter-option {
  padding-left: 39px;
  padding-bottom: 26px;
  margin-right: 116px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 0;
  left: -42px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-off-dis.svg");
}

.filter-input-checkbox:disabled + label::after {
  background-image: url("../img/checkbox-on-dis.svg");
}

.filter-range {
  width: 330px;
  margin-left: 260px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.sort-button {
  font-weight: 400;
  color: #ffffff;

  background: transparent;
  border: 2px solid #ffffff;

}

.sort-button:hover {
  color: #000000;

  background-color: #ffffff;
}

.sort-columns {
  display: flex;
  align-items: center;

  padding: 30px 73px;
}

.hotels-sort-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  width: 118px;
  margin: 0;
  margin-right: 53px;
}

.hotels-sort-name {
  font-size: 12px;
  line-height: 18px;
  color: #000000;

  width: 76px;
  margin: 0;
}

.hotels-sort-by {
  display: flex;
}

.hotels-sort-list {
  display: flex;
  justify-content: space-between;
  width: 239px;
  list-style: none;
  margin: 0;
  margin-left: 40px;
  padding: 0;
}

.hotels-sort-list a {
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;

}

.hotels-sort-list a:hover {
  color: #81b3d2;
}

.hotels-sort-list a:active {
  color: #000000;
  border-bottom: none;
}

.hotels-sort-current a {
  color: #81b3d2;
  border-bottom: none;
}

.hotels-range-list {
  display: flex;
  justify-content: space-between;

  width: 35px;
  margin: 0;
  margin-left: 490px;
  padding: 0;
  list-style: none;
}

.hotels-range-item:hover path{
  fill: #231f20;
}

.hotels-range-current path,
.hotels-range-item:active path {
  fill: #81b3d2;
}

.hotels-list {
  display: flex;
  flex-direction: column;

  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-item {
  display: flex;

  padding: 30px 73px;

  border-top: 1px solid #e5e5e5;
}

.hotel-item p {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.hotel-item h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  margin: 0;
  padding: 0;
}

.hotel-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-image {
  align-self: center;
  margin-right: 30px;
}

.hotel-profile {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
}

.hotel-rating {
  margin-left: 516px;
}

.hotel-title a {
  color: #000000;
  margin: 0;
}

.hotel-title a:hover {
  color: #81b3d2;
}

.hotel-title a:active {
  color: #cacaca;
}

.booking-button {
  box-sizing: border-box;
  width: 143px;
  margin: 0;
  padding: 0;
  padding: 3px 16px;
  background-color: #766357;
}

.booking-button:hover {
  background-color: #604e43;
}

.booking-button:active {
  color: #8f8681;

  background-color: #503e33;
}

.info-button {
  box-sizing: border-box;
  width: 110px;
  margin: 0;
  padding: 0;
  margin-right: 7px;
  padding: 3px 17px;
}

.info-button:hover {
  background-color: #669ec0;
}

.info-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.star-rating {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.hotel-rating p {
  margin: 0;
  padding: 0;
  width: 112px;
  box-sizing: border-box;
  padding: 2px 13px 4px 15px;
}

.number-rating {
  color: #666666;

  background-color: #f2f2f2;
  display: inline-block;
  padding: 3px 17px;

}

.main-footer {
  display: flex;
  padding: 36px 0;
}

.footer-column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.main-footer-logo {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  width: 140px;
  margin: 0;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 151px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 48px;
  background-color: #81b3d2;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn:active path {
  fill: #88b6d1;
}

.footer-copyright {
  display: flex;
  position: relative;
  color: #000000;
  width: 200px;
  margin: 0;
  text-align: center;
}

.academy {
  position: absolute;
  top: -10px;
  left: 81px;
  width: 115px;
  height: 41px;
  background-color: #ffffff;

  margin: 0;
  padding: 0;
}

.academy:hover path {
  fill: #81b3d2;
}

.academy:active path {
  fill: #bdbbbc;
}
